/*
The Box
See https://every-layout.dev/layouts/box/

Example, a box with a header:
	<article class="box-l">
		<header class="box-l"></header>
		<div class="box-l"></div>
	</article>
*/

.box-l {
	display: block;
	padding: var(--s1, 1.3rem);
	/* ↓ For high contrast mode */
	outline: var(--border-thin, 2px) solid transparent;
	outline-offset: calc(var(--border-thin) * -1);
}

.box-l.--s2p0 {
	padding: var(--s2p0, calc(1.69rem + 1vw));
}

.box-l * {
	color: inherit;
}

.box-l.--no-padding {
	padding: 0;
}
