/*
The Center
See https://every-layout.dev/layouts/center/

Example:
	<div class="box-l">
		<div class="center-l">
			<div class="stack-l">
				<!-- Any flow content here (headings, paragraphs, etc) -->
			</div>
		</div>
	</div>
*/

.center-l {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--measure, 65ch);
}

/* Center text as well */
.center-l.--and-text {
	text-align: center;
}

/* Add gutters */
.center-l.--gutters {
	box-sizing: content-box;
	padding-left: var(--s1, 1.3rem);
	padding-right: var(--s1, 1.3rem);
}

/* Center child elements narrower than the max value */
.center-l.--intrinsic {
	display: flex;
	flex-direction: column;
	align-items: center;
}
