/*
The Cluster
See https://every-layout.dev/layouts/cluster/

Warning! this layout needs an intermediary wrapper

Example:
	<div class="cluster-l">
		<ul> <!-- ← intermediary wrapper with negative margin -->
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
*/

.cluster-l > * {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: calc(var(--s1, 1.3rem) / 2 * -1) !important;
}

.cluster-l > * > * {
	margin: calc(var(--s1, 1.3rem) / 2) !important;
}

/* No margin */
.cluster-l.--no-margin > * {
	margin: 0 !important;
}

.cluster-l.--no-margin > * > * {
	margin: 0 !important;
}

/* Small margin */
.cluster-l.--s-1 > * {
	margin: calc(var(--s-1, 0.769rem) / 2 * -1) !important;
}

.cluster-l.--s-1 > * > * {
	margin: calc(var(--s-1, 0.769rem) / 2) !important;
}

/* Horizontal alignment (justify-content): space-between */
.cluster-l.--space-between > * {
	justify-content: space-between;
}

/* Horizontal alignment (justify-content): flex-start */
.cluster-l.--flex-start > * {
	justify-content: flex-start;
}

/* Horizontal alignment (justify-content): flex-end */
.cluster-l.--flex-end > * {
	justify-content: flex-end;
}
