/*
The Cover
See https://every-layout.dev/layouts/cover/

Example:
	<div class="cover-l">
		<h1 class="cover-l__middle">Welcome!</h1>
	</div>
*/

.cover-l {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--s1, 1.3rem);
}

.cover-l > * {
  margin-top: var(--s1, 1.3rem);
  margin-bottom: var(--s1, 1.3rem);
}

.cover-l > :first-child:not(.cover-l__middle) {
  margin-top: 0;
}

.cover-l > :last-child:not(.cover-l__middle) {
  margin-bottom: 0;
}

.cover-l > .cover-l__middle {
  margin-top: auto;
  margin-bottom: auto;
}
