/*
The Grid
See https://every-layout.dev/layouts/grid/

Example:
	<div class="grid-l">
		<div class="box-l">
			<div class="stack-l">
				<!-- card content -->
			</div>
		</div>
		<div class="box-l">
			<div class="stack-l">
				<!-- card content -->
			</div>
		</div>
		<div class="box-l">
			<div class="stack-l">
				<!-- card content -->
			</div>
		</div>
		<div class="box-l">
			<div class="stack-l">
				<!-- card content -->
			</div>
		</div>
		<!-- etc -->
	</div>
*/

@supports (display: grid) {
	.grid-l {
		display: grid;
		grid-gap: var(--s1);
	}
}

@supports (display: grid) and (width: min(var(--min-cell-width, 250px), 100%)) {
	.grid-l {
		grid-template-columns: repeat(
			auto-fit,
			minmax(min(var(--min-cell-width, 250px), 100%), 1fr)
		);
	}
}
