/*
The Icon
See https://every-layout.dev/layouts/icon/

Info: this layout could need a parent container (.with-icon-l)

Example:
	<button>
		<div class="icon-l" space="0.5em">
			<svg>
				<use href="/images/icons/icons.svg#cross"></use>
			</svg>
			Close
		</div>
	</button>
*/

.with-icon-l {
	display: inline-flex;
	align-items: baseline;
}

.icon-l {
	height: 0.75em;
	height: 1cap;
	width: 0.75em;
	width: 1cap;
}

.with-icon-l .icon-l {
	margin-right: var(--s0, 1rem);
}
