/*
The Sidebar
See https://every-layout.dev/layouts/sidebar/

Warning! this layout needs an intermediary wrapper

Example:
	<div class="with-sidebar-l">
		<div>
			<div><!-- sidebar --></div>
			<div><!-- non-sidebar --></div>
		</div>
	</div>
*/

.with-sidebar-l > * {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--s1, 1.3rem) / 2 * -1) !important;
}
.with-sidebar-l > * > * {
	margin: calc(var(--s1, 1.3rem) / 2) !important;
}

/* no gap between sidebar and non-sidebar */
.with-sidebar-l.--no-gap > * {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.with-sidebar-l.--no-gap > * > * {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* large gap between sidebar and non-sidebar */
.with-sidebar-l.--s3 > * {
	margin-left: calc(var(--s3, calc(2.197rem)) / 2 * -1) !important;
	margin-right: calc(var(--s3, calc(2.197rem)) / 2 * -1) !important;
}
.with-sidebar-l.--s3 > * > * {
	margin-left: calc(var(--s3, calc(2.197rem)) / 2) !important;
	margin-right: calc(var(--s3, calc(2.197rem)) / 2) !important;
}

/* Default sidebar is on the left (first child) */
.with-sidebar-l:not(.--right-side) > * > :first-child {
	flex-grow: 1;
}
.with-sidebar-l:not(.--right-side) > * > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 50%;
}
.with-sidebar-l:not(.--right-side).--p75 > * > :last-child {
	min-width: 75%;
}

/* Use --right-side for a sidebar on the right (sidebar is last child) */
.with-sidebar-l.--right-side > * > :last-child {
	flex-grow: 1;
}
.with-sidebar-l.--right-side > * > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 50%;
}
.with-sidebar-l.--right-side.--p75 > * > :first-child {
	min-width: 75%;
}
