/*
The Stack
See https://every-layout.dev/layouts/stack/

Example:
	<div class="stack-l --recursive --s2">
		<div><!-- first level child --></div>
		<div><!-- first level sibling --></div>
		<div>
			<div><!-- second level child --></div>
			<div><!-- second level sibling --></div>
		</div>
	</div>
*/

.stack-l {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack-l > * {
	margin-top: 0;
	margin-bottom: 0;
}

/* Space between siblings. Default is var(--s1, 1.3rem) */
.stack-l > * + * {
	margin-top: var(--s1, 1.3rem);
}
.stack-l.--s2 > * + * {
	margin-top: var(--s2, 1.69rem);
}
.stack-l.--s3 > * + * {
	margin-top: var(--s3, 2.197rem);
}
.stack-l.--s4 > * + * {
	margin-top: var(--s4, 2.8561rem);
}
.stack-l.--s5 > * + * {
	margin-top: var(--s5, 3.7129rem);
}

/* Apply the spaces recursively */
.stack-l.--recursive * {
	margin-top: 0;
	margin-bottom: 0;
}
.stack-l.--recursive * + * {
	margin-top: var(--s1, 1.3rem);
}
.stack-l.--recursive.--s2 * + * {
	margin-top: var(--s2, 1.69rem);
}
.stack-l.--recursive.--s3 * + * {
	margin-top: var(--s3, 2.197rem);
}
.stack-l.--recursive.--s4 * + * {
	margin-top: var(--s4, 2.8561rem);
}
.stack-l.--recursive--.s5 * + * {
	margin-top: var(--s5, 3.7129rem);
}

/* Split the stack after n elements (1 to 10) */
.stack-l.--split-after-1:only-child {
	height: 100%;
}
.stack-l.--split-after-2:only-child {
	height: 100%;
}
.stack-l.--split-after-3:only-child {
	height: 100%;
}
.stack-l.--split-after-4:only-child {
	height: 100%;
}
.stack-l.--split-after-5:only-child {
	height: 100%;
}
.stack-l.--split-after-6:only-child {
	height: 100%;
}
.stack-l.--split-after-7:only-child {
	height: 100%;
}
.stack-l.--split-after-8:only-child {
	height: 100%;
}
.stack-l.--split-after-9:only-child {
	height: 100%;
}

.stack-l.--split-after-1 > :nth-child(1) {
	margin-bottom: auto;
}
.stack-l.--split-after-2 > :nth-child(2) {
	margin-bottom: auto;
}
.stack-l.--split-after-3 > :nth-child(3) {
	margin-bottom: auto;
}
.stack-l.--split-after-4 > :nth-child(4) {
	margin-bottom: auto;
}
.stack-l.--split-after-5 > :nth-child(5) {
	margin-bottom: auto;
}
.stack-l.--split-after-6 > :nth-child(6) {
	margin-bottom: auto;
}
.stack-l.--split-after-7 > :nth-child(7) {
	margin-bottom: auto;
}
.stack-l.--split-after-8 > :nth-child(8) {
	margin-bottom: auto;
}
.stack-l.--split-after-9 > :nth-child(9) {
	margin-bottom: auto;
}
