/*
The Switcher
See https://every-layout.dev/layouts/switcher/

Warning! this layout needs an intermediary wrapper

Example:
	<div class="switcher-l">
		<ul> <!-- ← intermediary wrapper with negative margin -->
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
*/
.switcher-l > * {
	display: flex;
	flex-wrap: wrap;
	margin: calc((var(--s1, 1.3rem) / 2) * -1) !important;
}

/*
Make the component switch between a horizontal and vertical
layout at a regular container width (--measure, 65ch)
*/
.switcher-l > * > * {
	flex-grow: 1;
	flex-basis: calc((var(--measure, 65ch) - 100%) * 999);
	margin: calc(var(--s1, 1.3rem) / 2) !important;
}

/*
Set a maximum number of elements allowed to appear
in the horizontal configuration
*/
.switcher-l.--threshold-2 > * > :nth-last-child(n + 3),
.switcher-l.--threshold-2 > * > :nth-last-child(n + 3) ~ * {
	flex-basis: 100%;
}
.switcher-l.--threshold-3 > * > :nth-last-child(n + 4),
.switcher-l.--threshold-3 > * > :nth-last-child(n + 4) ~ * {
	flex-basis: 100%;
}
.switcher-l.--threshold-4 > * > :nth-last-child(n + 5),
.switcher-l.--threshold-4 > * > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
}
